# Piper TTS Configuration
PIPER_BIN_PATH=/app/bin/piper/piper
MODEL_PATH=/app/models/es_ES-davefx-medium.onnx
AUDIO_OUTPUT_DIR=generated_audio

# Server Configuration
PORT=8000

# Optional: Enable CUDA for GPU acceleration
USE_CUDA=false

# Optional: Ngrok for public URL
NGROK_AUTH_TOKEN=

# Google Cloud Platform (desplegado con Pulumi IaC)
GOOGLE_APPLICATION_CREDENTIALS=/app/credentials.json
GCP_PROJECT_ID=mycloud-jhuamaniv
BUCKET_NAME=fognode-audiobooks-mycloud-jhuamaniv
